Metadata:
  AWS::ServerlessRepo::Application:
    Name: EdgeDelta-Forwarder-{ARCH_TYPE}
    Description: Edge Delta lambda function to forward logs from AWS Cloudwatch to Edge Delta agent.
    Author: Edge Delta
    ReadmeUrl: README.md
    Labels: ['edgedelta', 'lambda', 'logs', 'analytics', 'monitoring']
    LicenseUrl: LICENSE
    SpdxLicenseId: Apache-2.0
    HomePageUrl: https://github.com/edgedelta/edgedelta-forwarder
    SemanticVersion: {VERSION}
    SourceCodeUrl: https://github.com/edgedelta/edgedelta-forwarder

AWSTemplateFormatVersion: "2010-09-09"
Transform: "AWS::Serverless-2016-10-31"
Parameters:
  EDLambdaFunctionName:
    Type: String
    Description: The name of the Lambda function as it appears in the AWS Console
    Default: EdgeDeltaForwarder
  EDEndpoint:
    Type: String
    Description: Edge Delta hosted agent endpoint
    Default: ''
  EDForwardSourceTags:
    Type: String
    Description: If set to true, source log group's tags are fetched. Forwarder tries to build ARN of the source by using log group's name. Requires "tag:GetResources" permission. This only works if the log group name is in the correct format (i.e. /aws/lambda/<lambda_name>).
    Default: 'false'
  EDForwardForwarderTags:
    Type: String
    Description: If set to true, forwarder lambda's own tags are fetched. Requires "tag.GetResources" permission
    Default: 'false'
  EDForwardLogGroupTags:
    Type: String
    Description: If set to true, log group tags are fetched. Requires "tag:GetResources" permission.
    Default: 'false'
  EDPushTimeoutSec:
    Type: Number
    Description: Push timeout is the total duration of waiting for to send one batch of logs (in seconds)
    Default: 10
  EDBatchSize:
    Type: Number
    Description: Batch size is the max allowed size of data to send in one batch. The default (and also the maximum) batch size is 1MB, minimum is 50KB.
    Default: 1000000
  EDRetryIntervalMs:
    Type: Number
    Description: RetryInterval is the initial interval to wait until next retry (in milliseconds). It is increased exponentially until our process is shut down
    Default: 100
  EDSourceTagPrefixes:
    Type: String
    Description: Comma separated list of tag prefixes to prefix corresponding service tags. For example, `ed_forwarder=ed_fwd_,log_group=lg_` will prefix forwarder tags with `ed_fwd_` and log group tags with `lg_`.
    Default: ''
Outputs:
  EdgeDeltaForwarderArn:
    Description: EdgeDeltaForwarder Function ARN
    Value:
      Fn::GetAtt:
      - EdgeDeltaForwarder
      - Arn
Resources:
  EdgeDeltaForwarder:
    Type: AWS::Serverless::Function
    Properties:
      Architectures: 
      - {COMPATIBLE_ARCHITECTURE}
      Description: Edge Delta lambda function to forward logs from AWS Cloudwatch to Edge Delta agent.
      CodeUri: s3://{BUCKET}/{FILE_NAME}
      Handler: bootstrap
      Runtime: provided.al2
      Timeout: 180
      Environment:
        Variables:
          ED_ENDPOINT: !Ref EDEndpoint
          ED_FORWARD_SOURCE_TAGS: !Ref EDForwardSourceTags
          ED_FORWARD_FORWARDER_TAGS: !Ref EDForwardForwarderTags
          ED_FORWARD_LOG_GROUP_TAGS: !Ref EDForwardLogGroupTags
          ED_PUSH_TIMEOUT_SEC: !Ref EDPushTimeoutSec
          ED_BATCH_SIZE: !Ref EDBatchSize
          ED_RETRY_INTERVAL_MS: !Ref EDRetryIntervalMs
          ED_SOURCE_TAG_PREFIXES: !Ref EDSourceTagPrefixes
      Policies:
      - AWSLambdaBasicExecutionRole
      - Statement:
        - Sid: TagReadOnlyAccessPolicy
          Effect: Allow
          Action:
          - tag:GetResources
          Resource: '*'
      - Statement:
        - Sid: GetFunctionAccessPolicy
          Effect: Allow
          Action:
          - lambda:GetFunction
          Resource: '*'

  LambdaInvokePermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref EDLambdaFunctionName
      Action: lambda:InvokeFunction
      Principal: logs.amazonaws.com
      SourceArn: !Sub "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:*"
      SourceAccount: !Sub ${AWS::AccountId}